@foreground: white;

div, p, img, h1, h2, h3, h4, h5, span, textarea,
button, a, form, input, select, section {
	box-sizing: border-box !important;
}

body, html {
	.fullsize;
	padding: 0;
	position: relative;
	font: Helvetica, Segoe UI, Arial, Sans-Serif;
}

h1, h2, h3, h4, h5, span, p {
	font: inherit;
	margin: 0;
}

.center-text {
	text-align: center;
}

.foreground {
	background: @foreground;
}

.fullsize {
	width: 100%;
	height: 100%;
	margin: 0;
}

.fullsize-absolute {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.right-align {
	float: right;
}

.vert-center {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.transition(@duration) {
	transition: @duration;
	-webkit-transition: @duration;
	-moz-transition: @duration;
	-ms-transition: @duration;
	-o-transition: @duration;
}

.perspective(@size) {
	perspective: @size;
	-webkit-perspective: @size;
	-moz-perspective: @size;
	-ms-perspective: @size;
	-o-perspective: @size;
}

.transform3d(@details) {
	transform: @details;
	-webkit-transform: @details;
	-moz-transform: @details;
	-ms-transform: @details;
	-o-transform: @details;
	transform-style: preserve-3d;
}

.btn {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	
	cursor: pointer;
	
	&:hover {
		opacity: 0.5;
	}
}