@import "base";
@import "clearfix";

// Block quotes: 

.quote-box {
	position: relative;
	height: 100%;
	//top: 50%;
	//transform: translateY(-50%);
}

.full-quote {
	width: 100%;
	padding: 64px;
}

.giant-text {
	font-size: 40px;
	line-height: 38px;
	font-family: inherit;
	color: @foreground;
}

.med-text {
	font-size: 20px;
	font-family: inherit;
	color: @foreground;
}

// main content: 
.pane {
	min-height: 180px;
}