@import "base";
@import "clearfix";

// Block quotes: 

.quote-box {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.quote-text {
	width: 100%;
}

.full-quote {
	width: 100%;
	padding: 64px !important;
}

.giant-text {
	font-size: 40px;
	line-height: 40px;
	font-family: inherit;
	color: @foreground;
}

.med-text {
	font-size: 20px;
	line-height: 24px;
	font-family: inherit;
	color: @foreground;
}

// main content:

.grid {
	margin: 0 0 0 -25px;
	padding: 0;
	list-style: none;
	
	&::after, &::before {
		content: " ";
		display: table;
	}
	
	&::after {
		clear: both;
	}
}

.grid-item {
	padding-left: 25px;
	margin: 0;
	float: left;
}

.grid>.grid-full {
	.grid-item();
	
	width: 100%;
}

.grid>.grid-small {
	.grid-item();
	
	@media(min-width: 1440px) {
		width: 25%;
	}
	
	@media(min-width: 768px) {
		width: 33.333%;
	}
	
	@media(min-width: 680px) {
		width: 50%;
	}
	
	@media(max-width: 680px) {
		width: 100%;
	}
}

.pane {
	min-height: 180px;
	position: relative;
}

.banner {
	margin-bottom: 64px;
}