@import "base";
@import "imageaccent";

/* animations */

.flip-to-front-mixin {
	to {
		.transform3d(@details: rotateX(0deg));
	}
	from {
		.transform3d(@details: rotateX(180deg));
	}
}

@keyframes flip-to-front { .flip-to-front-mixin }
@-webkit-keyframes flip-to-front { .flip-to-front-mixin }
@-moz-keyframes flip-to-front { .flip-to-front-mixin }
@-ms-keyframes flip-to-front { .flip-to-front-mixin }
@-o-keyframes flip-to-front { .flip-to-front-mixin }

.flip-to-back-mixin {
	to {
		.transform3d(@details: rotateX(180deg));
	}
	from {
		.transform3d(@details: rotateX(0deg));
	}
}

@keyframes flip-to-back { .flip-to-back-mixin }
@-webkit-keyframes flip-to-back { .flip-to-back-mixin }
@-moz-keyframes flip-to-back { .flip-to-back-mixin }
@-ms-keyframes flip-to-back { .flip-to-back-mixin }
@-o-keyframes flip-to-back { .flip-to-back-mixin }

.flip-card {
	.perspective(800px);
	position: relative;
	min-height: 120px;
	width: 30%;
}

.flip-card-back {
	.transform3d(@details: rotateX(180deg));
	background: grey;
	backface-visibility: hidden;
	.fullsize-absolute();
}

.flip-card-front {
	.img-accent;
	backface-visibility: hidden;
	.fullsize-absolute();
}

.flipped {
	.flip-card-back {
		-webkit-animation: flip-to-front 0.5s;
		animation: flip-to-front 0.5s;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
	}
	
	.flip-card-front {
		-webkit-animation: flip-to-back 0.5s;
		animation: flip-to-back 0.5s;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
	}
}