<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="css/home.css"/>
		<link rel="stylesheet" href="css/flex-grid.css"/>
		<script src="vendor/modernizr/modernizr-latest.js"></script>
		<script>
			Modernizr.addTest('backgroundclip',function() {

		    var div = document.createElement('div');

		    if ('backgroundClip' in div.style)
		      return true;

		    'Webkit Moz O ms Khtml'.replace(/([A-Za-z]*)/g,function(val) { 
		      if (val+'BackgroundClip' in div.style) return true;
		    });

		  });
		</script>
	</head>
	<body>
		<div class="fullsize background">
			<div class="container-top"></div>
			<div class="img-stripe"></div>
			<div class="container-bottom">
				<div class="header">
					<div class="cover-btns">
						<a href="#about">
							<button class="img-button">
								<div class="img-button-interior">
									<span>Info</span>
								</div>
							</button>
						</a>
						<a href="#dev">
							<button class="img-button">
								<div class="img-button-interior">
									<span>Dev</span>
								</div>
							</button>
						</a>
						<a href="#music">
							<button class="img-button">
								<div class="img-button-interior">
									<span>Music</span>
								</div>
							</button>
						</a>
					</div>
					<span class="title">Grant Forrest</span>
					<div class="page-container">
						<div id="about" class="grid">
							<div class="grid-full img-accent full-quote banner">
								<span class="giant-text quote-text">I want to create beautiful and meaningful experiences through software and art</span>
							</div>
							<div class="grid-small pane">
								<div class="quote-box">
									<p class="med-text quote-text img-text center-text">
										Something about myself here, possibly a longer paragraph. I don't know.
									</p>
								</div>
							</div>
							<div class="grid-small pane">
								<div class="quote-box">
									<p class="med-text quote-text img-text center-text">
										Email me.
									</p>
								</div>
							</div>
						</div>
						<div id="dev" class="flex-grid">
							<div class="grid-full img-accent full-quote banner">
								<span class="giant-text quote-text">I specialize in front-end development and UX of all kinds</span>
							</div>
							<!-- content.js provides content here -->
						</div>
						<div id="music" class="grid">
						
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="vendor/lodash/js/lodash.min.js"></script>
		<script src="js/content.js"></script>
		<script type="text/template" id="projectItemTemplate">
			<div class="grid-small pane img-accent">
				<div class="quote-box">
					<p class="quote-text img-text">
						<%= name %>
					</p>
				</div>
			</div>
		</script>
		 <script type="text/template" id="floatingItemTemplate">
			<div class="flex-item item">
				<%= name %>
			</div>
		</script>
	</body>
</html>