@import "base";
@import "imageaccent";
@import "flair";
@import "fonts";
@import "excerpt";
@import "post";
@import "footer";
@import "header";
@import "nav";

/* Variables */
@bg-color: #fff;
@stripe-height: 4%;

body {
	.img-accent;
	position: relative;
}

h1, h2, h3 {
	.img-text;
}

article, .post-template .post, .post {
	.floating-item;
	margin-top: 0;
	margin-bottom: 80px;
	margin-left: auto;
	margin-right: auto;
	word-break: break-word;

	&:after {
		display: none;
	}

	.post-width();
}

.content {
	padding-top: 100vh;
}

.home-template .main-header:after {
	display: none;
}

.full-img {
	padding: 0;
	.shadow-mixin(@shadow-size: @low-shadow-size);
	width: 126%;
	max-width: none;
	margin: 2em -13%;
}

.tag-head.main-header, .post-head.main-header {
	height: 80% !important;
}

.feed-label {
	text-align: center;
	width: 100%;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 32px;
	opacity: 0.5;
	text-transform: uppercase;
	color: white;
}

.post-excerpt p {
	font-size: 0.9em;
	line-height: 1.7em;
}

.post-meta {
	margin: 1.75rem 0 0 0;
	font-family: "Open Sans", sans-serif;
	font-size: 1.5rem;
	line-height: 2.2rem;
	color: #9eabb3;
}
