@import "base";
@import "imageaccent";

/* Variables */
@bg-color: #fff;
@stripe-height: 4%;

body {
	.img-accent;
}

footer {
	background-color: @bg-color;
	border-top: none;
}

h1, h2, h3 {
	.img-text;
	text-indent: 0;
}

.floating-item {
	background: @bg-color;
	padding: 32px 64px;
	-webkit-box-shadow: 0px 3px 82px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 82px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 82px 0px rgba(0,0,0,0.75);
}

.post {
	.floating-item;
	margin-top: 0;
	margin-bottom: 80px;

	&:after {
		display: none;
	}
}

.pagination {
	.floating-item;
}

.content {
	padding-top: 5em;
}

.home-content {
	padding-top: 50%;
}

.main-header {
	position: absolute;
	top: 0;
	background: @bg-color;
	z-index: 99;
}

.img-stripe {
	.img-accent();
	width: 100%;
	height: @stripe-height;
	bottom: 0;
	position: absolute;
}

.page-title {
	font-family: "Lato", sans-serif;
	display: inline;
	font-size: 80px;
	line-height: 80px;
	text-align: left;
	.img-text();
}

.page-description {
	font-family: "Open Sans", sans-serif;
	display: inline;
}

.main-header-content {
	position: absolute;
	bottom: @stripe-height;
	height: auto;
	max-width: none;
	text-align: left;
	width: 100%;
}

.main-header {
	background-color: @bg-color;
}

.scroll-down {
	color: black;
	right: 8px;
	left: auto;
	bottom: @stripe-height;
}

.home-template .main-header:after {
	display: none;
}

.main-nav.overlay {
	background: none;
}

.main-nav.overlay a.subscribe-button {
	background: transparent;
	color: rgba(0,0,0,0.1);
	border: none;

	&:hover {
		color: black;
		background: rgba(0, 0, 0, 0.1);
		outline: none;
	}

	&:focus, &:active {
		color: black;
		outline: none;
		background: rgba(0, 0, 0, 0.2);
	}
}

blockquote {
	margin-left: 2em;
}

.post-content.full-img {
	padding: 0;
	margin-top: 2em;
	margin-bottom: 2em;
	-webkit-box-shadow: 0px 3px 32px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 32px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 32px 0px rgba(0,0,0,0.75);
}